spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    springbootdocker:
      driverClassName: org.h2.Driver
      url: "jdbc:h2:mem:testdb"
      username: "sa"
      password: ""
  jpa:
    properties:
      hibernate:
        generate_statistics: true
        format_sql: true
    show-sql: true

logging:
  level:
    org:
      hibernate:
        stat: debug
        type: trace
